# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\DANE\sync\Google Drive\specjalizacja\git\codecool-websql-python-flask-api-wars-deployment (heroku)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
